In [1]:
import pandas as pd

# Load Excel
df = pd.read_excel("C:\Programming\Data Analytics\Data Analytics Projects\RideSmart - Ola Rides Analysis\Ola 100k Dataset.xlsx")

# Check inferred types
print(df.dtypes)

Date                          datetime64[ns]
Time                                  object
Booking_ID                            object
Booking_Status                        object
Customer_ID                           object
Vehicle_Type                          object
Pickup_Location                       object
Drop_Location                         object
V_TAT                                float64
C_TAT                                float64
Canceled_Rides_by_Customer            object
Canceled_Rides_by_Driver              object
Incomplete_Rides                      object
Incomplete_Rides_Reason               object
Booking_Value                          int64
Payment_Method                        object
Ride_Distance                          int64
Driver_Ratings                       float64
Customer_Rating                      float64
Vehicle Images                       float64
dtype: object

In [2]:
df['Vehicle Images'] = df['Vehicle Images'].astype(str)

In [3]:
import mysql.connector

In [ ]:
conn = mysql.connector.connect(
    host="localhost",
    user="",
    password="",
    database=""   
)
cursor = conn.cursor()

In [5]:
create_table_query = """
CREATE TABLE IF NOT EXISTS ola_data (
    Date DATETIME,
    Time TIME,
    Booking_ID VARCHAR(20),
    Booking_Status VARCHAR(50),
    Customer_ID VARCHAR(20),
    Vehicle_Type VARCHAR(50),
    Pickup_Location VARCHAR(100),
    Drop_Location VARCHAR(100),
    V_TAT INT,
    C_TAT INT,
    Canceled_Rides_by_Customer VARCHAR(100),
    Canceled_Rides_by_Driver VARCHAR(100),
    Incomplete_Rides VARCHAR(10),
    Incomplete_Rides_Reason VARCHAR(100),
    Booking_Value INT,
    Payment_Method VARCHAR(50),
    Ride_Distance INT,
    Driver_Ratings DECIMAL(3,2),
    Customer_Rating DECIMAL(3,2),
    Vehicle_Images VARCHAR(255)
);
"""
cursor.execute(create_table_query)

In [9]:
# Ensure all NaNs/NaTs become Python None
df = df.where(pd.notnull(df), None)

# Convert all columns to Python objects (safe for MySQL)
df = df.astype(object)

# Convert DataFrame to list of tuples
data_tuples = [tuple(row) for row in df.to_numpy()]

# Use parameterized query for safety
insert_query = """
INSERT INTO ola_data VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s,
                             %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
"""

# Insert rows safely
for row in data_tuples:
    cursor.execute(insert_query, row)

conn.commit()